.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 6px 10px 6px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin: 10px;
  text-decoration: none;
}

.button-update {
    background-color: cornflowerblue;
    color: white;
}

.button-delete {
    background-color: red;
    color: white;
}