.footer {
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    padding-top: 25px;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.author {
    text-decoration: none !important;
}